html, body {
	height: 100%;
}

body {
	padding-top: 70px;
	padding-left: 10px;
	padding-right: 10px;
}

.vertical-middle {
	margin-bottom: 0px !important;
	width: 50px;
}

#navbar {
	margin-right: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#push, #footer {
	height: 60px;
}
